._hidden {
  background-color: #020c1b;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  inset: 0px;
  -webkit-box-align: center;
  -webkit-box-pack: center;
}

#preloader-border-diffColor{
  animation: dash2 2s linear forwards
}



#preloader-border {
  animation: dash1 2s linear forwards, rotate-border 1s ease-in-out 1.5s;
  transform-origin: center;
  transform-box: fill-box;
}

#preloader-AE {
  animation: fadingIn 1s linear forwards 2s;
}

@keyframes dash1 {
  0% {
    stroke-dashoffset: 1300;
    fill: #020c1b;
  }
  70% {
    stroke-dashoffset: 0;
    fill: #020c1b;
  }
  100% {
    stroke-dashoffset: 0;
    fill: #8888ff;
  }
}
@keyframes dash2 {
  0% {
    stroke-dashoffset: 1300;
    fill: #020c1b;
  }
  70% {
    stroke-dashoffset: 0;
    fill: #020c1b;
  }
  100% {
    stroke-dashoffset: 0;
    fill: #6666cc;
  }
}

@keyframes rotate-border {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: -360deg;
  }
}

@keyframes fadingIn {
  0% {
    stroke-dashoffset: 0;
    fill: #020c1b;
    opacity: 0;
  }
  50% {
    stroke-dashoffset: 0;
    fill: #020c1b;
    opacity: 1;
  }
  100% {
    stroke-dashoffset: 0;
    fill: #8888ff;
    opacity: 1;
  }
}
