* {
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  overflow-anchor: none;
}

::-webkit-scrollbar-thumb {
  background-color: #1e345b;
  border: 3px solid #0a192f;
  border-radius: 10px;
}

::-webkit-scrollbar {
  width: 14px;
}

::-webkit-scrollbar-thumb:active {
  background-color: #192c4c;
}
